@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  -webkit-background-clip: text; /* Para compatibilidad Safari/Chrome */
  background-clip: text;
  animation: gradientShift 5s ease infinite;
}
